---
interface Props {
    label: string
    list: string[]
}

const { label, list } = Astro.props
---

<div class='hero-label'>
    <h2 class='text-gradient'>
        {label}
    </h2>
    <ul>
        {list.map(element => <li>{element}</li>)}
    </ul>
</div>
<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    ul {
        list-style: none;
        padding-left: 10px;
        margin: 1rem ;
    }
    li {
        font-size: 1.25rem;
    }
</style>
